
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/fi000001.css-2aa7bc.css" tppabs="http://www.zerto.com/wp-content/cache/minify/000000/jc7BDsIgDAbgF5KRPYMvsMMuHoE1WxOghNZN3l6GWzyoibf-7Ze2vd6SWnECUh7nRSw9tGPWKYNIGRYSuvRfzEenKjBclKN7lIm2CFkbZhDWIwa4YnYeuKoMnCgyrvDedkDeMMH5wRm6gLG9EGyR5E2pi_d5sN1tHFp-jb1ygVU0636ikVrjbAQp_hJHPpSyhuE_-gQ.css?2aa7bc" media="all" />
    <link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/M9BPyy_NS0ksyczP008uLtZPzi9K1c_LL8pNzMmsSgUA.css-2aa7bc.css" tppabs="http://www.zerto.com/wp-content/cache/minify/000000/M9BPyy_NS0ksyczP008uLtZPzi9K1c_LL8pNzMmsSgUA.css?2aa7bc" media="all" />
    <link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/fi000002.css-2aa7bc.css" tppabs="http://www.zerto.com/wp-content/cache/minify/000000/dY5REsIgDEQvVKQeCWGtUQJIwnTq6W2rzqjVz-zue5PeHnNLwSnlZL3I27ljSl3_3ftcYX0TzUw31O2gxDZQWkRJjRshmfFb9VpKJH_5rEWniC3BCOSM-Aok-S88XxvqtBPiEiGI8NrtbYtK7BSmZFExI4UBunKtjEZPYBhRNwtrWB-ekQMqIzVbarZOBCoP4Jkvszs.css?2aa7bc" media="all" />
    <link rel="stylesheet" type="text/css" href="/wp-content/cache/minify/000000/M9QvTUotyk3NK9VPLC5OLSnWTy4u1k_LzytJLE8tzs9NhfN1oQJ6uZl5AA.css-2aa7bc.css" tppabs="http://www.zerto.com/wp-content/cache/minify/000000/M9QvTUotyk3NK9VPLC5OLSnWTy4u1k_LzytJLE8tzs9NhfN1oQJ6uZl5AA.css?2aa7bc" media="all" />
    <link rel="stylesheet" type="text/css" media="print" href="../../wp-content/themes/foundation/print.css-2aa7bc.css" tppabs="http://www.zerto.com/wp-content/themes/foundation/print.css?2aa7bc" />
</head>
<body>
    <header id="header">
        <div class="row large-uncollapse medium-uncollapse small-collapse">
            <div class="large-2 medium-3 small-12 columns">
                <div class="logo small-only-text-center">
                    <a href="javascript:;"></a>
                </div>
            </div>
            <div class="large-10 medium-9 small-12 columns">
                <!--  Menu Box -->
                <nav class="desctop-menu">

                    <!-- UberMenu [Configuration:main] [Theme Loc:header-menu] [Integration:auto] -->
                    <a class="ubermenu-responsive-toggle ubermenu-responsive-toggle-main ubermenu-skin-none ubermenu-loc-header-menu" data-ubermenu-target="ubermenu-main-2-header-menu">
                        <i class="fa fa-bars"></i>Menu
                    </a><nav id="ubermenu-main-2-header-menu" class="ubermenu ubermenu-nojs ubermenu-main ubermenu-menu-2 ubermenu-loc-header-menu ubermenu-responsive ubermenu-responsive-640 ubermenu-responsive-collapse ubermenu-horizontal ubermenu-transition-shift ubermenu-trigger-hover_intent ubermenu-skin-none  ubermenu-bar-align-full ubermenu-items-align-left ubermenu-bound ubermenu-disable-submenu-scroll">
                        <ul id="ubermenu-nav-main-2-header-menu" class="ubermenu-nav">
                            <li id="menu-item-6919" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-current-page-ancestor ubermenu-current-menu-ancestor ubermenu-current-menu-parent ubermenu-current-page-parent ubermenu-current_page_parent ubermenu-current_page_ancestor ubermenu-item-has-children ubermenu-item-6920 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="index.htm" tppabs="http://www.zerto.com/cn/enterprise/" tabindex="0"><span class="ubermenu-target-title ubermenu-target-text">产品</span></a><ul class="ubermenu-submenu ubermenu-submenu-id-6920 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                                    <li id="menu-item-6927" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6927 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="vmware-复制和恢复/index.htm" tppabs="http://www.zerto.com/cn/enterprise/vmware-%e5%a4%8d%e5%88%b6%e5%92%8c%e6%81%a2%e5%a4%8d/"><span class="ubermenu-target-title ubermenu-target-text">VMware 复制和恢复</span></a>
                                    </li>
                                    <li id="menu-item-6926" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6926 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="zerto-virtual-replication用于microsoft-hyper-v/index.htm" tppabs="http://www.zerto.com/cn/enterprise/zerto-virtual-replication%e7%94%a8%e4%ba%8emicrosoft-hyper-v/"><span class="ubermenu-target-title ubermenu-target-text">Zerto Virtual Replication用于Microsoft Hyper-V</span></a>
                                    </li>
                                    <li id="menu-item-6925" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-current-menu-item ubermenu-page_item ubermenu-page-item-6880 ubermenu-current_page_item ubermenu-item-6925 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="zerto-virtual-replication用于亚马逊aws/index.htm" tppabs="http://www.zerto.com/cn/enterprise/zerto-virtual-replication%e7%94%a8%e4%ba%8e%e4%ba%9a%e9%a9%ac%e9%80%8aaws/"><span class="ubermenu-target-title ubermenu-target-text">Zerto Virtual Replication用于亚马逊AWS</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6920" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-current-page-ancestor ubermenu-current-menu-ancestor ubermenu-current-menu-parent ubermenu-current-page-parent ubermenu-current_page_parent ubermenu-current_page_ancestor ubermenu-item-has-children ubermenu-item-6920 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="index.htm" tppabs="http://www.zerto.com/cn/enterprise/" tabindex="0"><span class="ubermenu-target-title ubermenu-target-text">产品</span></a><ul class="ubermenu-submenu ubermenu-submenu-id-6920 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                                    <li id="menu-item-6927" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6927 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto"><a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="vmware-复制和恢复/index.htm" tppabs="http://www.zerto.com/cn/enterprise/vmware-%e5%a4%8d%e5%88%b6%e5%92%8c%e6%81%a2%e5%a4%8d/"><span class="ubermenu-target-title ubermenu-target-text">VMware 复制和恢复</span></a></li>
                                    <li id="menu-item-6926" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6926 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto"><a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="zerto-virtual-replication用于microsoft-hyper-v/index.htm" tppabs="http://www.zerto.com/cn/enterprise/zerto-virtual-replication%e7%94%a8%e4%ba%8emicrosoft-hyper-v/"><span class="ubermenu-target-title ubermenu-target-text">Zerto Virtual Replication用于Microsoft Hyper-V</span></a></li>
                                    <li id="menu-item-6925" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-current-menu-item ubermenu-page_item ubermenu-page-item-6880 ubermenu-current_page_item ubermenu-item-6925 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto"><a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="zerto-virtual-replication用于亚马逊aws/index.htm" tppabs="http://www.zerto.com/cn/enterprise/zerto-virtual-replication%e7%94%a8%e4%ba%8e%e4%ba%9a%e9%a9%ac%e9%80%8aaws/"><span class="ubermenu-target-title ubermenu-target-text">Zerto Virtual Replication用于亚马逊AWS</span></a></li>
                                </ul>
                            </li>
                            <li id="menu-item-6921" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-6921 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="use-cases/index.htm" tppabs="http://www.zerto.com/cn/enterprise/use-cases/" tabindex="0"><span class="ubermenu-target-title ubermenu-target-text">解决方案</span></a>
                                <ul class="ubermenu-submenu ubermenu-submenu-id-6921 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                                    <li id="menu-item-6922" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6922 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="use-cases/复制和灾难恢复/index.htm" tppabs="http://www.zerto.com/cn/enterprise/use-cases/%e5%a4%8d%e5%88%b6%e5%92%8c%e7%81%be%e9%9a%be%e6%81%a2%e5%a4%8d/"><span class="ubermenu-target-title ubermenu-target-text">复制和灾难恢复</span></a>
                                    </li>
                                    <li id="menu-item-6923" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6923 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="use-cases/离线备份/index.htm" tppabs="http://www.zerto.com/cn/enterprise/use-cases/%e7%a6%bb%e7%ba%bf%e5%a4%87%e4%bb%bd/"><span class="ubermenu-target-title ubermenu-target-text">离线备份</span></a>
                                    </li>
                                    <li id="menu-item-6924" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6924 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="use-cases/数据迁移和工作负载移动/index.htm" tppabs="http://www.zerto.com/cn/enterprise/use-cases/%e6%95%b0%e6%8d%ae%e8%bf%81%e7%a7%bb%e5%92%8c%e5%b7%a5%e4%bd%9c%e8%b4%9f%e8%bd%bd%e7%a7%bb%e5%8a%a8/"><span class="ubermenu-target-title ubermenu-target-text">数据迁移和工作负载移动</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li id="menu-item-6930" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-has-children ubermenu-item-6930 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="../关于我们/index.htm" tppabs="http://www.zerto.com/cn/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac/" tabindex="0"><span class="ubermenu-target-title ubermenu-target-text">公司</span></a><ul class="ubermenu-submenu ubermenu-submenu-id-6930 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                                    <li id="menu-item-6928" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6928 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="../支持/index.htm" tppabs="http://www.zerto.com/cn/%e6%94%af%e6%8c%81/"><span class="ubermenu-target-title ubermenu-target-text">支持</span></a>
                                    </li>
                                    <li id="menu-item-6929" class="ubermenu-item ubermenu-item-type-post_type ubermenu-item-object-page ubermenu-item-6929 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto">
                                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="../关于我们/index.htm" tppabs="http://www.zerto.com/cn/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac/"><span class="ubermenu-target-title ubermenu-target-text">关于我们</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- End UberMenu -->
                </nav>
                <!--  END Menu Box -->
                <!--  Search Box -->
                <div class="header-right">
                    <div class="search-box">
                        <i class="fa fa-search"></i>
                        <a class="trial-box" href="javascript:;">Free Trial</a>
                        <form method="get" id="searchform" action="http://www.zerto.com/cn/">
                            <div class="row collapse">
                                <div class="small-12 columns">
                                    <input type="text" name="s" id="s" placeholder="Search" />
                                    <button class="btn-submit" type="submit" name="submit" id="searchsubmit"></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- END  Search Box -->
                    <!--  Icons Box -->
                </div>
                <!-- END Icons Box -->
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>

