@using QingFeng.Models
@{
    Layout = null;
    var user = ViewBag.User as UserInfo;
}
<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:16:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>主页</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="/content/favicon.ico">
    <link href="/content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="/content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="/content/css/animate.min.css" rel="stylesheet">
    <link href="/content/css/style.css?v=4.1.0" rel="stylesheet">
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="/content/img/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs"><strong class="font-bold">@user.NickName</strong></span>
                                    <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li>
                                    <a id="updatePwdBtn" href="javascript:void(0)">修改密码</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/home/logout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            H+
                        </div>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-home"></i>
                            <span class="nav-label">用户管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="/admin/userList" data-index="1">用户管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/createUser" data-index="2">创建用户</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-table"></i>
                            <span class="nav-label">商品管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level active">
                            <li>
                                <a class="J_menuItem" href="/admin/baseProducts" data-index="3">商品管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/product/Products" data-index="3">商品价格表</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/colorList" data-index="4">商品颜色管理</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="/admin/sizeList" data-index="5">商品尺码管理</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-edit"></i>
                            <span class="nav-label">订单管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem reflush" href="/admin/orderList?orderStatus=4" data-index="16">待审核订单</a>
                            </li>
                            <li>
                                <a class="J_menuItem reflush" href="/admin/orderList" data-index="0">全部订单</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-bar-chart-o"></i>
                            <span class="nav-label">库存管理</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level active">
                            <li>
                                <a class="J_menuItem reflush" href="/admin/ProductStocks" data-index="0">产品库存</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row content-tabs">
                <button class="roll-nav roll-left J_tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <nav class="page-tabs J_menuTabs">
                    <div class="page-tabs-content">
                        <a href="javascript:;" class="active J_menuTab" data-id="/admin/orderList">全部订单</a>
                    </div>
                </nav>
                <button class="roll-nav roll-right J_tabRight">
                    <i class="fa fa-forward"></i>
                </button>
                <div class="btn-group roll-nav roll-right">
                    <button class="dropdown J_tabClose" data-toggle="dropdown">
                        关闭操作<span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu dropdown-menu-right">
                        <li class="J_tabShowActive">
                            <a>定位当前选项卡</a>
                        </li>
                        <li class="divider"></li>
                        <li class="J_tabCloseAll">
                            <a>关闭全部选项卡</a>
                        </li>
                        <li class="J_tabCloseOther">
                            <a>关闭其他选项卡</a>
                        </li>
                    </ul>
                </div>
                <a href="/home/logout" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="/admin/orderList" frameborder="0" data-id="/admin/orderList" seamless></iframe>
            </div>
            <div class="footer">
                <div class="pull-right">
                    &copy; 2016-2017 yuliang
                </div>
            </div>
        </div>

        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h5 class="modal-title">修改密码</h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal m-t" id="signupForm">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">输入旧密码 <i>*</i>：</label>
                                <div class="col-sm-5">
                                    <input name="oldPassWord" onfocus="this.type='password'" id="oldPassWord" max="30" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">输入新密码 <i>*</i>：</label>
                                <div class="col-sm-5">
                                    <input name="passWord" id="passWord" max="30" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认新密码 <i>*</i>：</label>
                                <div class="col-sm-5">
                                    <input name="confirmPassWord" id="confirmPassWord" max="30" class="form-control" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-5 col-sm-offset-3">
                                    <button class="btn btn-primary" id="updatePwd" type="button">保存</button>
                                    <button class="btn btn-primary" id="closeModal" type="button">关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/content/js/jquery.min.js?v=2.1.4"></script>
    <script src="/content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/content/js/plugins/metisMenu/jquery.metisMenu.js?v=@DateTime.Now.Ticks"></script>
    <script src="/content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/content/layer/layer.js"></script>
    <script type="text/javascript" src="/content/js/contabs.js?v=@DateTime.Now.Ticks"></script>
    <script src="/content/scripts/qingfeng.core.js"></script>
    <script>
        $(function () {
            $("#updatePwd").click(function () {
                var oldPwd = $("#oldPassWord").val().trim();
                var passWord = $("#passWord").val().trim();
                var confirmPassWord = $("#confirmPassWord").val().trim();
                if (oldPwd.length < 6) {
                    layer.tips("请输入最少6位长度的原始密码", $("#oldPassWord"));
                    return;
                }
                if (passWord.length < 6) {
                    layer.tips("请输入最少6位长度的新密码", $("#passWord"));
                    return;
                }
                if (passWord !== confirmPassWord) {
                    layer.tips("两次输入的密码不一致", $("#confirmPassWord"));
                    return;
                }

                $core.ajax.getJSON("/Home/UpdatePassWord", { oldPwd: oldPwd, newPwd: passWord }, function (data) {
                    if (data === 1) {
                        layer.msg("密码修改成功");
                        $("#myModal").modal("hide");
                    } else if (data === 0) {
                        layer.msg("修改失败");
                    } else if (data === 2) {
                        layer.msg("原始密码错误");
                    } else {
                        layer.msg(this.message);
                    }
                });
            });

            $("#updatePwdBtn").click(function () {
                $("#myModal").modal("show");
            });

            $("#closeModal").click(function () {
                $("#myModal").modal("hide");
            });
        });
    </script>
</body>


<!-- Mirrored from www.zi-han.net/theme/hplus/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:17:11 GMT -->
</html>
