
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录页面</title>
    <script src="~/Content/js/jquery.min.js"></script>
    <link href="/content/css/login.css" type="text/css" rel="stylesheet" />
    <meta name="GENERATOR" content="MSHTML 11.00.9600.17496" />
</head>
<body>
<div class="top_div"></div>
<div style="background: rgb(255, 255, 255); margin: -100px auto auto; border: 1px solid rgb(231, 231, 231); border-image: none; width: 400px; height: 200px; text-align: center;">
    <div style="width: 165px; height: 96px; position: absolute;">
        <div class="tou"></div>
        <div class="initial_left_hand" id="left_hand"></div>
        <div class="initial_right_hand" id="right_hand"></div>
    </div>
    <p style="padding: 30px 0px 10px; position: relative;">
        <span class="u_logo"></span>
        <input class="ipt" id="username" name="username" type="text" placeholder="请输入用户名或邮箱" value=""/>
    </p>
    <p style="position: relative;">
        <span class="p_logo"></span>
        <input class="ipt" id="password" name="password" type="password" placeholder="请输入密码" value=""/>
    </p>
    <div style="height: 50px; line-height: 50px; margin-top: 30px; border-top-color: rgb(231, 231, 231); border-top-width: 1px; border-top-style: solid;">
        <p style="margin: 0px 35px 20px 45px;">
            <span style="float: left;">
                    <a id="result" style="color: read(204, 204, 204);"
                       href="javascript:void(0)"></a>
                </span>
            <span style="float: right;">
                    <a style="background: rgb(0, 142, 173); padding: 7px 10px; border-radius: 4px; border: 1px solid rgb(26, 117, 152); border-image: none; color: rgb(255, 255, 255); font-weight: bold;"
                       href="javascript:adminLogin()">登录</a>
                </span>
        </p>
    </div>
</div>
</body>
<script src="~/Content/scripts/jquery.min.js"></script>
<script src="~/Content/scripts/saas.framework.js"></script>
<script type="text/javascript">
    function adminLogin() {
        var username = $("#username").val();
        var pwd = $("#password").val();
        var result = $("#result");
        if (username === "") {
            result.text("请输入用户名");
            return;
        } else if (pwd === "") {
            result.text("请输入密码");
            return;
        }

        $saas.ajax.getJSON("/Home/LoginCheck", { loginName: username, passWord: pwd }, function (data) {
            console.log(data);
            if (data === 1) {
                location.href = "/home/index";
            } else {
                result.text("账号密码错误");
            }
        });
    }
    $(function () {
        $('#password,#username').bind('keypress', function (event) {
            if (event.keyCode === 13) {
                adminLogin();
            }
        });
        //得到焦点
        $("#password").focus(function () {
            $("#left_hand").animate({
                left: "150",
                top: " -38"
            }, {
                step: function () {
                    if (parseInt($("#left_hand").css("left")) > 140) {
                        $("#left_hand").attr("class", "left_hand");
                    }
                }
            }, 2000);
            $("#right_hand").animate({
                right: "-64",
                top: "-38px"
            }, {
                step: function () {
                    if (parseInt($("#right_hand").css("right")) > -70) {
                        $("#right_hand").attr("class", "right_hand");
                    }
                }
            }, 2000);
        });
        //失去焦点
        $("#password").blur(function () {
            $("#left_hand").attr("class", "initial_left_hand");
            $("#left_hand").attr("style", "left:100px;top:-12px;");
            $("#right_hand").attr("class", "initial_right_hand");
            $("#right_hand").attr("style", "right:-112px;top:-12px");
        });
    });
</script>
</html>
